.messenger {
}
.messenger-header {
  height: 10%;
}
.messenger-body {
  height: 65%;
  overflow-y: scroll;
}
.messenger-input {
  height: 15%;
}
.messenger-footer {
  height: 10%;
}

.messenger-input > input {
  height: 100%;
  width: 100%;
}
* {
  border: solid 1px red;
}
